<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>About</title>
	</head>
		{% extends "template.html" %}
		{% block content %}
        <div class="center-screen">
        <h1 data-text='MotiClock' class="anim">MotiClock</h1>
        <p style="text-align: center;">Rejuvinate your motivation tank. Set the
            clock for the time you want to wake up, or a time where you need
            some extra motivation and let MotiClock take care of the rest.</p>
        </div>
		{% endblock %}
</html>
