<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Contact</title>
	</head>
	<body>
		{% extends "template.html" %}
		{% block content %}
        <div class="container center-screen">
            <div class="contact-form">
            <form>
                <div class="row">
                    <div class="col center-screen">
                        <h1 class="text-flicker-in-glow" style="color: #74FA9B">Get In Touch</h1>
                        <p>Have ideas for improvement, or want to work on a
                            project together? Reach out.</p>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg"
                            placeholder="YourEmail@email.com" name="email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-control-lg"
                            rows="8" placeholder="Your message" name="message"></textarea>
                        </div>
                        <input type="submit" class="light btn btn-outline-secondary btn-block"
                        value="Send" name="">
                    </div>
                </div>
            </form>
    </div>
        </div>
		{% endblock %}
	</body>
</html>
