<!DOCTYPE html>
<nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
  <a class="navbar-brand" href="/">
      <img src="../static/images/clock_logo.png" alt="Logo" width="30" height="30">
  </a>
  <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/alarm">Alarm<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
</nav>
