<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>About</title>
	</head>
		{% extends "template.html" %}
		{% block content %}
        <div class="center-screen">
            <iframe width="560" height="315"
            src="http://www.youtube.com/embed/playlist?list=PLriLgVg0-Kgzu0Y-Rz2ofUT1E53lUjh_T&autoplay=1&loop=1&mute=1&index={{ num }}"
            frameborder="0" allow="accelerometer; autoplay" allowfullscreen></iframe>
        </div>
		{% endblock %}
</html>
